# example netlify.toml
[build]
  command = "CI= NODE_OPTIONS=--openssl-legacy-provider npm run build"
  functions = "functions"
  publish = "build"

  ## Uncomment to use this redirect for Single Page Applications like create-react-app.
  ## Not needed for static site generators.
  [[redirects]]
 from = "/*"
   to = "/index.html"
   status = 200

  ## Headers for SEO
  [[headers]]
    for = "/sitemap.xml"
    [headers.values]
      Content-Type = "application/xml"

  [[headers]]
    for = "/robots.txt"
    [headers.values]
      Content-Type = "text/plain"

  ## (optional) Settings for Netlify Dev
  ## https://github.com/netlify/cli/blob/master/docs/netlify-dev.md#project-detection
  #[dev]
  #  command = "yarn start" # Command to start your dev server
  #  port = 3000 # Port that the dev server will be listening on
  #  publish = "dist" # Folder with the static content for _redirect file

  ## more info on configuring this file: https://www.netlify.com/docs/netlify-toml-reference/
