/* ABOUT ME COMPONENT */

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-orange);
  box-shadow: 3px 3px 10px 0px rgba(132,132,132,0.5);
}

.about-heading {
  color: var(--primary-blue);
  text-transform: uppercase;
}

@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}
