.liquid-effect-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  touch-action: none;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
  background: #060c2b;
  mix-blend-mode: multiply;
  opacity: 0.35;
}

.liquid-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

