@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #F25C54;
  --primary-dark: rgb(52, 58, 64);
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-red: #ef4035;
  --primary-green: green;
  --primary-hover-red: #f33501;
  --primary-light-grey: #f4f4f4;
  --primary-black: #000000;
  --primary-blue: #2727e6;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
}
